{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <h1 id="home-header">Flask Chat 💬</h1>

  {% if error %}
  <p id="error">{{ error }}</p>
  {% endif %}
  {% include 'flash_messages.html' %}
  <form method="post" id="chat-widget-home">
    <div id="name-input">
      <label for="name" class="text-white">Enter your name</label>
      <input type="text" id="name" name="name" placeholder="Enter name" value="{{ session.first_name }}" />
    </div>
    <div>
      <label for="code" id="code-label" class="text-white">Enter chat room code</label>
      <input type="text" id="code" name="code" placeholder="Enter code" value="{{ code }}" />
      <button type="submit" id="join" name="join">Join</button>
    </div>
    <hr />
    <button type="submit" id="create" name="create">Create Room</button>
    
    <ul>
      {% for room in rooms %}
      <li class="text-white mt-3">
        Room Code: {{ room.code }}
        <form action="/home" method="post">
          <input type="hidden" name="code"  value="{{ room.code }}">
          <!-- <button type="submit" id="join-room" name="join-room">Join</button> -->
        </form>
      </li>
      {% endfor %}
    </ul>
  </form>
</div>
<script src=" {{ url_for('static', filename='chat.js' ) }}"></script>
{% endblock %}