{% extends "layout.html" %}

{% block title %} Home Page {% endblock %}}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col align-self-center my-5 color-white">
        <div class="container">
          <h1 class="display-2">Connect With Everyone</h1>
          <p class="lead">Here you can find your friend all around the world.</p>
          <p></p>
          <p class="lead">
            <a class="btn btn-lg btn-default" href="{{url_for("login")}}" role="button">Login</a>
        </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}