{% extends 'layout.html' %}

{% block body %}

<div class="container">
  <h1 id="home-header">Flask Chat</h1>
  <div id="room-subsection">
    <h2 id="room-code-display">Room Code: <span class="text-white">{{ room }}</span></h2>
  </div>
  <a href="/" id="leave-chat-btn">Leave the Chat</a>

  <div id="chat-room-widget">
    
    <div id="msgs-container">
      <ul id="messages"></ul>
    </div>

    <div id="message-box">
      <input type="text" placeholder="Enter your message" id="message-input" name="message" />
      <button type="submit" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
  </div>
</div>

<script src=" {{ url_for('static', filename='chat.js' ) }}"></script>
<script>
  var room = "{{ room }}";
  var currentUser = "{{ session.get('name') }}";
</script>

{% endblock %}