* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

hr {
  margin: 20px 0;
}

#home-header {
  text-align: center;
  margin: 20px 0;
  color: rgb(0, 73, 101);
}

#chat-widget-home {
  padding: 30px;
}

#chat-widget-home input {
  width: 100%;
  max-width: 300px;
  padding: 8px 10px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgb(207, 207, 207);
}

#chat-widget-home label {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

#chat-widget-home div {
  margin-bottom: 20px;
}

#chat-widget-home button {
  height: calc(1.1rem + 20px);
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#name-input {
  display: flex;
  flex-direction: column;
}

#code-label {
  display: block;
}

#join {
  border: 2px solid green;
  color: white;
  background-color: green;
  transition: all 0.1s ease-in;
}

#join:hover {
  background-color: white;
  color: green;
}

#create {
  border: 2px solid rgb(47, 47, 47);
  color: rgb(47, 47, 47);
  background-color: white;
  transition: all 0.1s ease-in;
}

#create:hover {
  background-color: rgb(47, 47, 47);
  color: white;
}

#error {
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(255, 210, 210);
  color: red;
  border-radius: 10px;
  font-weight: 900;
}

#room-subsection {
  margin-bottom: 20px;
}

#room-code-display {
  color: rgb(0, 73, 101);
}

#room-code-display span {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 2px;
  color: rgb(40, 40, 40);
  font-family: monospace;
  padding: 8px 5px;
}

#leave-chat-btn {
  color: white;
  background-color: rgb(226, 29, 29);
  font-weight: 800;
  text-decoration: none;
  padding: 6px;
  border: 2px solid rgb(226, 29, 29);
  margin-bottom: 12px;
  display: inline-block;
  margin-top: 5px;
  border-radius: 10px;
  transition: all 0.1s ease-in;
}

#leave-chat-btn:hover {
  color: rgb(226, 29, 29);
  background-color: white;
}

#chat-room-widget {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 500px;
}

#msgs-container {
  overflow-y: scroll;
  height: 600px;
}

#msgs-container>ul {
  list-style: none;
}

#message-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

#message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

#send-btn {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

#send-btn:hover {
  color: rgb(46, 175, 225);
}

.message-item {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 500px;
  margin: 10px 0;
}

.peer-message-item {
  background-color: rgb(0, 100, 140);
  color: white;
  border-bottom-left-radius: 0;
}

.self-message-item {
  margin-left: auto;
  margin-right: 0;
  border-bottom-right-radius: 0;
}

.muted-text {
  color: grey;
  font-size: 0.7rem;
}

.muted-text-white {
  color: white;
  font-size: 0.7rem;
}

.member-activity {
  text-align: center;
  margin: 10px 0;
  color: grey;
}

@media (min-width: 768px) {
  body {
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.color-white {
  color: white
}

.color-default {
  color: #00bfff;
}

.btn-default {
  border-color: #00bfff;
  color: #00bfff;
}

.btn-default:hover {
  background-color: #00bfff;
}

.navbar {
  background-color: #383B4F;
}

a.navbar-brand img {
  width: 50px;
  height: 50px;
}

.login-form,
.register-form,
.list {
  margin-top: 20%;
}

.register-form,
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #383B4F;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.register-form label {
  position: relative;
}

.register-form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.register-form label .input+span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.register-form label .input:placeholder-shown+span {
  top: 12.5px;
  font-size: 0.9em;
}

.register-form label .input:focus+span,
.register-form label .input:valid+span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #00bfff;
  width: 100%;
}

.submit:hover {
  background-color: #00bfff96;
}

table.table.\.list {
  background-color: #383B4F;
  color: white;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

#details {
  background-color: white;
  margin-top: 10%;
}

.card-text {
  font-style: italic;
}

.one-div {
  position: relative;
  height: 550px;
  width: 500px;
  background-color: rgb(15, 15, 15);
  transform-style: preserve-3d;
  animation: rot 2s infinite ease;
  border-radius: 20px;
  box-shadow: 0 0 50px 0px white, inset 0 0 50px 0px white;
  transition: 1s;
}

.one-div::after {
  content: 'F R I E N D';
  font-size: 30px;
  text-shadow: 5px 5px 1px black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  color: white;
}

.one-div:hover.one-div::after {
  font-size: 40px;
}

.one-div::before {
  content: 'UNIVERSE';
  color: white;
  font-size: 25px;
  letter-spacing: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  left: 40px;
  background-color: rgb(25, 25, 25);
  width: 520px;
  height: 570px;
  transform: translateY(50px) translateZ(50px);
  border-radius: 20px;
  filter: blur(0px);
  transition: 0.5s;
  box-shadow: 0 0 5px 0px black, -3px -3px 10px 3px rgb(25, 25, 25), inset 0px 0px 40px -20px black;
}

.one-div:active.one-div::after {
  text-shadow: 0 0 0 black;
  transition: 0.5s;
  transform: translateY(5px) translateZ(5px);
}

.one-div:hover.one-div::before {
  font-size: 10px;
  width: 550px;
  height: 600px;
  transform: translateZ(-50px) translateY(50px);
  box-shadow: 0 0 5px 0px black, -3px -3px 10px 3px rgb(25, 25, 25), inset 0px 0px 40px -20px;
}

.one-div:hover {
  height: 600px;
  width: 550px;
  box-shadow: 0 0 5px 0px black, inset -3px -3px 10px 3px rgb(25, 25, 25), inset 3px 3px 20px 3px black;
  cursor: pointer;
}

@keyframes rot {
  0% {
    transform: rotateX(-15deg) translateY(0px);
  }

  50% {
    transform: rotateX(-15deg) translateY(-10px);
  }

  100% {
    transform: rotateX(-15deg) translateY(0px);
  }
}